
.friend_list {
  margin-top: 150px;
    width: 500px;
    list-style: none;
    
}

.friend_item {
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    display: flex;
   align-items: center;
   padding-left: 40px;
}
   

.name {
    padding-left: 20px;
}

.status {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  
}

.avatar {
    margin: 0px;
    margin-left: 15px;
}